<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="true">

    <appender name="MAIN" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/bkf.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value=".yyyy-MM-dd-a"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{HH:mm:ss,SSS} %-20c:%20M : %m%n"/>
        </layout>
    </appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
                   <param name="ConversionPattern"
		          value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
		</layout>
	</appender>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <logger name="org.avaje">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.spring.modules.ebean">
        <level value="DEBUG"/>
    </logger>


    <root>
        <level value="ERROR"/>
        <appender-ref ref="MAIN"/>
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>
